* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-gray-600);
}

a:hover {
    text-decoration: underline;
}