/* TYPOGRAPHY */

body {
    font-family: var(--font-main);
    color: var(--gray-100);
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
     font-size: 26px;
}

h2 {
    font-size: 22px;
}

label {
    font-size: 14px;
    color: var(--gray-300);
    margin-bottom: 6px;
    display: block;
}
