.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }

.text-center { text-align: center; }
.flex { display: flex; }
.flex-between { justify-content: space-between; }
